<div>
  <%= flash[:notice] %></div>

<div>
  <h1>Book detail</h1>
  <p>Title <%= @book.title %></p>
  <p>Opinion <%= @book.body %></p>
  <%= link_to user_path(@book.user.id) do %>
  <%= image_tag @book.user.get_profile_image(100,100) %>
  <p><%= @book.user.name %></p>
  <%end%>
  <%if @book.user == current_user %>
  <%= link_to 'destroy', book_path(@book.id), method: :delete %>
  <%= link_to "edit" ,edit_book_path(@book.id) %>
  <% end %>
</div>